<g class="app-control-dummy">
    <rect class="app-cursor-move"
          v-bind:width="width"
          v-bind:height="height"
          v-bind:fill="fill"
          v-bind:rx="rx"
          v-bind:ry="ry"
          v-bind:stroke="stroke"
          v-on:mousedown.left.stop="onMouseDownLeft"
    >
    </rect>
    <g v-bind:transform="textTransform">
        <text font-size="14" y="0.8em" xml:space="preserve" fill="#f6f6f6" font-family="맑은고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">
                    <tspan class="" dy="0em" x="0">Type: {{item.type}}</tspan>
                    <tspan class="" dy="1em" x="0">Name: {{item.name}}</tspan>
                    <tspan class="" dy="1em" x="0">Id: {{item.id}}</tspan>
                </text>
    </g>
</g>