<g class="app-control-button">
    <rect class="app-cursor-move"
          v-bind:width="width"
          v-bind:height="height"
          v-bind:fill="fill"
          v-bind:rx="rx"
          v-bind:ry="ry"
          v-bind:stroke="stroke"
          v-on:mousedown.left.stop="onMouseDownLeft"
    >
    </rect>
    <g v-bind:transform="textTransform">
        <text v-bind:x="left"
              y="0.8em"
              text-anchor="middle"
              alignment-baseline="central"
              font-size="14"
              xml:space="preserve"
              fill="#000"
              font-family="맑은고딕, 돋움, Arial, sans-serif"
              cursor="text"
              style="user-select: none;">
            <tspan class="" dy="0em" x="0">{{item.name}}</tspan>
            <tspan class="" dy="1em" x="0">({{item.type.substring(0, 1).toUpperCase() + item.type.substring(1, item.type.length).toLowerCase()}})</tspan>
        </text>
    </g>
</g>