<div class="app-popup-tree">
    <div class="app-tree-root">
        <div class="app-tree-node">
            <div class="app-tree-header">
                <div class="app-tree-icon app-icon-minus"></div>
                <div class="app-tree-check">
                    <input type="checkbox">
                </div>
                <div class="app-tree-icon app-icon-folder app-icon-folder-open"></div>
                <div class="app-tree-title">Node 1</div>

                <div class="app-tree-contents">
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-browser"></div>
                        <div class="app-tree-content-text">Browser</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-button"></div>
                        <div class="app-tree-content-text">Button</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-chart"></div>
                        <div class="app-tree-content-text">Chart</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="app-tree-node">
            <div class="app-tree-header">
                <div class="app-tree-icon app-icon-minus"></div>
                <div class="app-tree-check">
                    <input type="checkbox">
                </div>
                <div class="app-tree-icon app-icon-folder app-icon-folder-open"></div>
                <div class="app-tree-title">Node 2</div>

                <div class="app-tree-contents">
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-combobox"></div>
                        <div class="app-tree-content-text">Combobox</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-custom"></div>
                        <div class="app-tree-content-text">Custom</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-datepicker"></div>
                        <div class="app-tree-content-text">DatePicker</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-groupbox"></div>
                        <div class="app-tree-content-text">GroupBox</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-scatterchart"></div>
                        <div class="app-tree-content-text">ScatterChart</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-tablelayout"></div>
                        <div class="app-tree-content-text">TableLayout</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-textbox"></div>
                        <div class="app-tree-content-text">TextBox</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="app-tree-node">
            <div class="app-tree-header">
                <div class="app-tree-icon app-icon-minus"></div>
                <div class="app-tree-check">
                    <input type="checkbox">
                </div>
                <div class="app-tree-icon app-icon-folder app-icon-folder-open"></div>
                <div class="app-tree-title">Node 3</div>

                <div class="app-tree-contents">
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-pivotgrid"></div>
                        <div class="app-tree-content-text">PivotGrid</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-polarchart"></div>
                        <div class="app-tree-content-text">PolarChart</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-polygon"></div>
                        <div class="app-tree-content-text">Polygon</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-radiobutton"></div>
                        <div class="app-tree-content-text">RadioButton</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-scatterchart"></div>
                        <div class="app-tree-content-text">ScatterChart</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-tablelayout"></div>
                        <div class="app-tree-content-text">TableLayout</div>
                    </div>
                    <div class="app-tree-content">
                        <div class="app-tree-check">
                            <input type="checkbox">
                        </div>
                        <div class="app-tree-content-icon app-icon-control-textbox"></div>
                        <div class="app-tree-content-text">TextBox</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>