/*********** Template - START ************/
.viewer-app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px lightgray;
}

.app-header {
    position: relative;
    width: calc(100% - 5px);
    margin-left: 2px;
    margin-top: 5px;
    height: 35px;
    box-sizing: border-box;
}

.app-body {
    position: relative;
    height: calc(100% - 40px);
    box-sizing: border-box;
}

.app-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    border: solid 1px lightgray;
}

.app-center {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 205px);
    margin-left: 205px;
    box-sizing: border-box;
    border: solid 1px lightgray;
}

.app-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    display: none;
}

.app-footer {
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /*clear: both;*/
}
/*********** Template - END ************/

/*********** app-header Area - START ************/
.app-header-group {
    position: relative;
    /*padding-top: 5px;*/
    /*margin-top: 5px;*/
    /*box-sizing: border-box;*/
}

.app-header-split {
    float: left;
    width: 1px;
    height: 19px;
    margin-left: 5px;
    margin-top: 2px;
    background-color: darkgray;
}

.app-header-item {
    float: left;
    margin-left: 5px;
    padding: 1px;
    font-size: 14px;
}

.app-header-icon {
    cursor: pointer;
    border: solid 1px darkgray;
    border-radius: 50px;
    user-select: none;
}

.app-header-icon:active {
    color: #F0F0F0;
    background-color: #454545;
}

.app-header-button {
    cursor: pointer;
    border: solid 1px darkgray;
    border-radius: 5px;
    user-select: none;
    color: #d0d0d0;
    background-color: #333333
}

.app-header-button:hover {
    color: darkgray;
    background-color: #F0F0F0;
}

.app-header-button:active {
    color: #F0F0F0;
    background-color: #454545;
}

.app-header-text {
    font-family: "맑은 고딕", "돋움", Arial, sans-serif ;
    user-select: none;
}

.app-header-range {

}
/*********** app-header Area - END ************/

/*********** app-left Area - START ************/
.app-menu {
    width: calc(100% - 4px);
    height: 21px;
    margin: 1px;
    /*margin-left: 1px;*/
    /*margin-top: 1px;*/
    /*margin-right: -3px;*/
    /*margin-bottom: -3px;*/
    border: solid 1px darkgray;
}

.app-left-menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    /*position: relative;*/
    /*border: solid 1px darkgray;*/
    /*width: 100%;*/
    /*height: 21px;*/
    /*width: calc(100% - 6px);*/
    height: 24px;
    padding-top: 1px;
}

.app-left-menu-group {
    position: relative;
}

.app-left-menu-item {
    float: left;
    margin-left: 5px;
    height: 21px;
}

.app-left-menu-icon {
    cursor: pointer;
    /*border: solid 1px darkgray;*/
}

.app-left-search {
    position: absolute;
    left: 0;
    top: 28px;
    right: 0;
    height: 24px;
    box-sizing: border-box;
    margin-left: 1px;
    margin-top: 1px;
}

.app-search-box {
    position: absolute;
    left: 0;
    width: calc(100% - 1px);
    /*border: solid 1px darkgray;*/
    box-sizing: border-box;
}

.app-search-text {
    width: 100%;
    /*width: 100%;*/
    font-size: 14px;
    font-family: "맑은 고딕", "돋움", Arial, sans-serif;
}

.app-left-tree {
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    bottom: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-tree-root {
    position: relative;
    width: 100%;
    height: auto;

}

.app-tree-node {
    margin-bottom: 5px;
    user-select: none;
}

.app-tree-header {
    width: 100%;
    height: 21px;
    margin-left: 5px;
}

.app-tree-header > * {
    float: left;
}

.app-tree-contents {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.app-tree-contents > * {
    float: left;
}

.app-tree-contents > .app-tree-content {
    margin-bottom: 1px;
}

.app-tree-contents > .app-tree-content:last-child {
    margin-bottom: 5px;
}

.app-tree-content {
    width: 100%;
}

.app-tree-content:hover {
    cursor: pointer;
}

.app-tree-content > * {
    float: left;
}

.app-tree-content-icon {
    height: 21px;
    margin-left: 3px;
}

.app-tree-content-text {
    margin-left: 5px;
}


/*********** app-left Area - END ************/

/*********** app-center Area - START ************/
.app-paper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    /*border: solid 1px lightgray;*/
}

.app-svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.app-panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.app-popup {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Paper Area */
.app-paper-grid {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJ2LTYiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzIGlkPSJ2LTUiPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+PHJlY3QgaWQ9InYtNyIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iI0FBQUFBQSIvPjwvcGF0dGVybj48L2RlZnM+PHJlY3QgaWQ9InYtOSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuXzApIi8+PC9zdmc+");
}

/* MiniMap Area */
.app-mini-map {
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 150px;
    height: 100px;
    border: solid 1px black;
}

.app-mini-map-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.app-mini-map-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*********** app-center Area- END ************/

/*********** app-right Area - START ************/
.app-right-menu {

}

.app-right-search {

}

.app-right-tree {

}
/*********** app-right Area - END ************/

/*********** app-footer Area - START ************/

/*********** app-footer Area - END ************/


.app-menu {

}

.app-search {

}

.app-tree {

}

/*********** Selection Area - START ************/
.app-selection {
    position: absolute;
    border: solid 1px #000066;
    box-sizing: border-box;
    cursor: pointer;
}

.app-arrow-selection {
    position: absolute;
    /*border: solid 1px #000066;*/
    box-sizing: border-box;
    cursor: pointer;
}
/*********** Selection Area - END ************/

/*********** Resize Area - START ************/
.resize {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: grey;
}

/* 북서 */
.resize.nw {
    left: -3px;
    top: -3px;
}

.resize.nw:hover {
    cursor: nw-resize;
}

/* 북 */
.resize.n {
    left: 50%;
    top: -3px;
    margin-left: -3px;
}

.resize.n:hover {
    cursor: n-resize;
}

/* 북동 */
.resize.ne {
    top: -3px;
    right: -3px;
}

.resize.ne:hover {
    cursor: ne-resize;
}

/* 동 */
.resize.e {
    right: -3px;
    top: 50%;
    margin-top: -3px;
}

.resize.e:hover {
    cursor: e-resize;
}

/* 남동 */
.resize.se {
    cursor: se-resize;
    right: -3px;
    bottom: -3px;
}

/* 남 */
.resize.s {
    cursor: s-resize;
    left: 50%;
    bottom: -3px;
    margin-left: -3px;
}

/* 남서 */
.resize.sw {
    cursor: sw-resize;
    left: -3px;
    bottom: 0;
    margin-bottom: -3px;
}

/* 서 */
.resize.w {
    cursor: w-resize;
    left: -3px;
    top: 50%;
    margin-top: -3px;
}
/*********** Resize Area - END ************/

/*********** app-store Area - START ************/
.app-store {

}

.app-store-item {
    cursor: pointer;
}
/*********** app-store Area - END ************/


.marker-point {
    position: absolute;
    cursor: pointer;
}

.marker-point-start {
    width: 8px;
    height: 8px;
}

.marker-point-mid {
    width: 8px;
    height: 8px;
}

.marker-point-end {
    width: 12px;
    height: 12px;
}

/*********** icon Area - END ************/

.app-tree-icon {

}

.app-icon {

}

.app-icon-button {

}

.app-icon-chart {

}

.app-icon-event {
    background-image: url("../image/icon/zap.png"); width:10px; height:16px;
}

.app-icon-folder-open {
    background-image: url("../image/icon/folder_open.png"); width:16px; height:16px;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
}

.app-icon-folder-close {
    background-image: url("../image/icon/folder_close.png"); width:16px; height:16px;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
}

.app-icon-grid {

}

.app-icon-pivot {

}

.app-icon-add {

}

.app-icon-delete {

}

.app-icon-save {

}

.app-icon-plus {
    background-image: url("../image/icon/menu_tree_plus.png"); width:9px; height:9px;
    margin-top: 6px;
    margin-left: 3px;
    cursor: pointer;
}

.app-icon-minus {
    background-image: url("../image/icon/menu_tree_minus.png"); width:9px; height:9px;
    margin-top: 6px;
    margin-left: 3px;
    cursor: pointer;
}



.app-icon-control-browser {
    background-image: url("../image/control/browser.png"); width:28px; height:24px;
}
.app-icon-control-button {
    background-image: url("../image/control/button.png"); width:28px; height:24px;
}
.app-icon-control-chart {
    background-image: url("../image/control/chart.png"); width:28px; height:24px;
}
.app-icon-control-checkbox {
    background-image: url("../image/control/checkbox.png"); width:28px; height:24px;
}
.app-icon-control-combobox {
    background-image: url("../image/control/combobox.png"); width:28px; height:24px;
}
.app-icon-control-custom {
    background-image: url("../image/control/custom.png"); width:28px; height:24px;
}
.app-icon-control-datepicker {
    background-image: url("../image/control/datepicker.png"); width:28px; height:24px;
}
.app-icon-control-groupbox {
    background-image: url("../image/control/groupbox.png"); width:28px; height:24px;
}
.app-icon-control-image {
    background-image: url("../image/control/image.png"); width:28px; height:24px;
}
.app-icon-control-inputbox {
    background-image: url("../image/control/inputbox.png"); width:28px; height:24px;
}
.app-icon-control-listgrid {
    background-image: url("../image/control/listgrid.png"); width:28px; height:24px;
}
.app-icon-control-multicombo {
    background-image: url("../image/control/multicombo.png"); width:28px; height:24px;
}
.app-icon-control-picklist {
    background-image: url("../image/control/picklist.png"); width:28px; height:24px;
}
.app-icon-control-piechart {
    background-image: url("../image/control/piechart.png"); width:28px; height:24px;
}
.app-icon-control-pivotgrid {
    background-image: url("../image/control/pivotgrid.png"); width:28px; height:24px;
}
.app-icon-control-polarchart {
    background-image: url("../image/control/polarchart.png"); width:28px; height:24px;
}
.app-icon-control-polygon {
    background-image: url("../image/control/polygon.png"); width:28px; height:24px;
}
.app-icon-control-radiobutton {
    background-image: url("../image/control/radiobutton.png"); width:28px; height:24px;
}
.app-icon-control-scatterchart {
    background-image: url("../image/control/scatterchart.png"); width:28px; height:24px;
}
.app-icon-control-tablelayout {
    background-image: url("../image/control/tablelayout.png"); width:28px; height:24px;
}
.app-icon-control-textbox {
    background-image: url("../image/control/textbox.png"); width:28px; height:24px;
}





    /*********** icon Area - START ************/



div {
    /*border: solid 1px red;*/
}


