<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WorkFlow-C</title>
    <script src="../bundle/vue.js"></script>
    <!--<script src="https://unpkg.com/vue@2.3.4"></script>-->
    <!--<link rel="stylesheet" href="">-->
    <!--<style type="text/css"></style>-->
    <link rel="stylesheet" href="css/main.css">

    <!-- app-header -->
    <script type="text/x-template" id="app-header-template">
        <div class="app-header">
            <app-header-group-template
                v-for="(group, index) in groups.children"
                :key="group.index"
                :group="group"
                :index="index">
            </app-header-group-template>
            <!--<div class="app-header-split"></div>-->
        </div>
    </script>
    <script type="text/x-template" id="app-header-group-template">
        <div v-bind:id="getId()" class="app-header-group">
            <app-header-item-template
                v-for="(item, index) in group.children"
                v-model="item.value"
                :key="item.index"
                :item="item"
                :index="index"
                :pIndex="pIndex(index)"
            >
            </app-header-item-template>
        </div>
    </script>
    <script type="text/x-template" id="app-header-item-template">
        <div v-bind:id="getId()" v-bind:class="classObject" v-if="item.type == 'Text'">
            <span v-if="item.text">{{item.text}}</span>
        </div>
        <div v-bind:id="getId()" v-bind:class="classObject" v-else-if="item.type == 'Range'">
            <span v-if="item.text">{{item.text}}</span>
            <input type="range"
                   v-model="item.value"
                   v-bind:id="item.id"
                   v-bind:min="item.min"
                   v-bind:max="item.max"
                   v-bind:step="item.step"
                   v-on:input="updateSize($event.target.value)"
                   style="width:100px;">
            <span>{{result()}}</span>
        </div>
        <div v-bind:id="getId()" v-bind:class="classObject" v-else>
            <span v-if="item.text"
                  v-on:click="showMessage(item.text)">
                {{item.text}}
            </span>
        </div>
    </script>

    <!-- app-body -->
    <script type="text/x-template" id="app-body-template">
        <div class="app-body">
            <app-left-template></app-left-template>
            <app-center-template></app-center-template>
            <app-right-template></app-right-template>
        </div>
    </script>
    <script type="text/x-template" id="app-left-template">
        <div class="app-left">
            <app-left-menu-template :items="menuItems"></app-left-menu-template>
            <app-left-search-template v-if="isSearch"></app-left-search-template>
            <app-left-tree-template :items="treeItems"></app-left-tree-template>
        </div>
    </script>
    <script type="text/x-template" id="app-center-template">
        <div class="app-center">
            <app-paper-template></app-paper-template>
            <app-svg-template :data-object="dataObject"></app-svg-template>
        </div>
    </script>
    <script type="text/x-template" id="app-right-template">
        <div class="app-right"></div>
    </script>
    <script type="text/x-template" id="app-footer-template">
        <div class="app-footer"></div>
    </script>

    <!-- app-left-menu -->
    <script type="text/x-template" id="app-left-menu-template">
        <div class="app-menu app-left-menu">
            <div class="app-left-menu-group">
                <app-left-menu-item-template
                    v-for="(item, index) in items.children"
                    :key="item.index"
                    :item="item"
                    :index="index">
                </app-left-menu-item-template>
            </div>
        </div>
    </script>

    <!-- app-left-serach -->
    <script type="text/x-template" id="app-left-search-template">
        <div class="app-search app-left-search">
            <div class="app-search-box">
                <input type="search" class="app-search-text" placeholder="Search TextBox">
            </div>
        </div>
    </script>
    <script type="text/x-template" id="app-left-menu-item-template">
        <div v-bind:id="getId()" class="app-left-menu-item app-left-menu-icon" v-bind:title="item.title">
            <span v-if="item.text">{{item.text}}</span>
        </div>
    </script>

    <!-- app-left-tree -->
    <script type="text/x-template" id="app-left-tree-template">
        <div class="app-tree app-left-tree">
            <app-tree-root-template :items="items"></app-tree-root-template>
        </div>
    </script>
    <script type="text/x-template" id="app-tree-root-template">
        <div class="app-tree-root">
            <app-tree-node-template
                v-for="(item, index) in items.children"
                :key="item.index"
                :item="item"
                :index="index">
            </app-tree-node-template>
        </div>
    </script>
    <script type="text/x-template" id="app-tree-node-template">
        <div class="app-tree-node">
            <div class="app-tree-header">
                <div class="app-tree-icon" v-bind:class="classObjectSign" v-on:click="expand"></div>
                <div class="app-tree-icon" v-bind:class="classObjectFolder" v-on:click="expand"></div>
                <div class="app-tree-title">{{item.name}}</div>
            </div>
            <app-tree-contents-template :item="item" v-if="isExpand"></app-tree-contents-template>
        </div>
    </script>
    <!--<script type="text/x-template" id="app-tree-header-template">-->
        <!--<div class="app-tree-header">-->
            <!--<div class="app-tree-icon" v-bind:class="classObjectSign" v-on:click="expand"></div>-->
            <!--<div class="app-tree-icon" v-bind:class="classObjectFolder" v-on:click="expand"></div>-->
            <!--<div class="app-tree-title">{{name}}</div>-->
        <!--</div>-->
    <!--</script>-->
    <script type="text/x-template" id="app-tree-contents-template">
        <div class="app-tree-contents" v-if="item.type == 'Folder'">
            <app-tree-content-template
                    v-for="(_item, index) in item.children"
                    :key="_item.index"
                    :item="_item"
                    :index="index">
            </app-tree-content-template>
        </div>
        <div class="app-tree-contents" v-else-if="item.type == 'SVG'">
            <div class="app-tree-content">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%">
                    <g class="app-store">
                        <g class="app-store-item">
                            <g class="translate" transform="translate(10, 10)">
                                <g class="rotatable">
                                    <g class="scalable" transform="scale(0.6, 0.6)">
                                        <rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="3" stroke-dasharray="0"></rect>
                                        <g transform="translate(5, 5)">
                                            <text font-size="14" y="0.8em" xml:space="preserve" fill="#f6f6f6" font-family="맑은 고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">
                                                <tspan class="" dy="0em" x="0">1-A</tspan>
                                                <tspan class="" dy="1em" x="0">123456789</tspan>
                                                <tspan class="" dy="1em" x="0">ABCDEF</tspan>
                                                <tspan class="" dy="1em" x="0">GHIJKLMNOP</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g class="app-store-item">
                            <g class="translate" transform="translate(80, 10)">
                                <g class="rotatable">
                                    <g class="scalable" transform="scale(0.6, 0.6)">
                                        <rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="2" stroke-dasharray="10 5"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g class="app-store-item">
                            <g class="translate" transform="translate(10, 80)">
                                <g class="rotatable">
                                    <g class="scalable" transform="scale(0.6, 0.6)">
                                        <rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="10" stroke-dasharray="10 5"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>

                        <g class="app-store-item">
                            <g class="translate" transform="translate(80, 80)">
                                <g class="rotatable">
                                    <g class="scalable" transform="scale(0.6, 0.6)">
                                        <polygon points="50,0 100,50, 50,100 0,50" fill="rgb(220, 215, 215)"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </script>
    <!-- app-tree-content -->
    <script type="text/x-template" id="app-tree-content-template">
        <div class="app-tree-content"
             v-on:dblclick="onDblClick"
        >
            <div v-bind:class="classObjectIcon"></div>
            <div class="app-tree-content-text">{{item.name}}</div>
        </div>
    </script>

    <!-- app-paper -->
    <script type="text/x-template" id="app-paper-template">
        <div class="app-paper">
            <div class="app-paper-grid"
                 v-bind:class="classObject"
            ></div>
        </div>
    </script>

    <!-- app-svg -->
    <script type="text/x-template" id="app-svg-template">
        <div class="app-paper-container">
            <div class="app-paper-scroll">
                <div class="app-paper-content" style="width: 2000px; height:3000px;">
                    <div style="width: 1000px; height:2000px">
                        <div id="app-svg" class="app-svg"
                             v-on:mousedown.left="onMouseDownLeft"
                             v-on:mousemove="onMouseMove"
                             v-on:mouseup.left="onMouseUpLeft"
                             v-on:click.left="onClickLeft"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%">
                                <g v-bind:transform="transform">
                                    <app-controls-template v-bind:id="id"></app-controls-template>
                                </g>
                            </svg>
                        </div>
                        <app-selection-template></app-selection-template>
                        <app-panel-template></app-panel-template>
                        <app-popup-template></app-popup-template>
                        <app-contexts-template></app-contexts-template>
                    </div>
                </div>
            </div>
            <app-mini-map-template :data-object="dataObject"></app-mini-map-template>
        </div>

    </script>

    <!-- app-panel -->
    <script type="text/x-template" id="app-panel-template">
        <div class="app-panel app-panel-selection"
             v-show="isActiveObject"
             v-on:mousedown.left="onMouseDownLeft"
             v-on:mousemove="onMouseMove"
             v-on:mouseup.left="onMouseUpLeft"
             v-bind:style="styleObject"
            >
                <div class="resize"
                     v-for="(value, key) in direction"
                     v-bind:class="value"
                     v-on:mousedown.left.stop="onResizeDown($event, value)"
                     v-on:mouseup.left.stop="onResizeUp(value)"
                >
                </div>
            </div>

        </div>
    </script>

    <!-- app-selection -->
    <script type="text/x-template" id="app-selection-template">
        <div class="app-selection"
             v-show="isActiveObject"
             v-bind:style="styleObject">
            <div class="selection"
                 v-for="(item, index) in children"
                 :key="index"
                 v-bind:class="item.direction">
                <div class="app-cursor-pointer"
                     v-bind:class="itemClassObject(item)"
                     v-on:click.left="onClickLeft($event, item)"
                     v-on:mousedown.left="onMouseDownLeft($event, item)"
                     v-on:mousemove="onMouseMove($event, item)"
                ></div>
            </div>
        </div>
    </script>

    <!-- app-popup -->
    <script type="text/x-template" id="app-popup-template">
        <div class="app-popup"></div>
    </script>

    <!-- app-mini-map -->
    <script type="text/x-template" id="app-mini-map-template">
        <div class="app-mini-map">
            <div class="app-mini-map-background"></div>
            <div class="app-mini-map-svg"></div>
        </div>
    </script>

    <!-- app-controls-template -->
    <script type="text/x-template" id="app-controls-template">
        <g class="app-controls">
            <app-control-template v-for="(item, index) in itemObject.children"
                         v-bind:id="item.id"
                         :key="index"
                         :item="item"
                         :index="index"
            ></app-control-template>
        </g>
    </script>

    <!-- app-control-template -->
    <script type="text/x-template" id="app-control-template">
        <g class="app-control">
            <g class="translate" v-bind:transform="transform">
                <g class="rotatable" v-bind:transform="rotate">
                    <g class="scalable">
                        <app-control-button-template v-if="item.type == 'button'"
                                            :item="item">
                        </app-control-button-template>
                        <!--<app-control-arrow v-else-if="item-type == 'arrow"-->
                                           <!--:item="item">-->
                        <!--</app-control-arrow>-->
                        <app-control-dummy-template v-else
                                           :item="item">
                        </app-control-dummy-template>
                    </g>
                </g>
            </g>
        </g>
    </script>

    <!-- app-control-dummy-template -->
    <script type="text/x-template" id="app-control-dummy-template">
        <g class="app-control-dummy">
            <rect class="app-cursor-move"
                  v-bind:width="width"
                  v-bind:height="height"
                  v-bind:fill="fill"
                  v-bind:rx="rx"
                  v-bind:ry="ry"
                  v-bind:stroke="stroke"
                  v-on:mousedown.left.stop="onMouseDownLeft"
            >
            </rect>
            <g v-bind:transform="textTransform">
                <text font-size="14" y="0.8em" xml:space="preserve" fill="#f6f6f6" font-family="맑은고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">
                    <tspan class="" dy="0em" x="0">Type: {{item.type}}</tspan>
                    <tspan class="" dy="1em" x="0">Name: {{item.name}}</tspan>
                    <tspan class="" dy="1em" x="0">Id: {{item.id}}</tspan>
                </text>
            </g>
        </g>
    </script>

    <!-- app-control-button-template -->
    <script type="text/x-template" id="app-control-button-template">
        <g class="app-control-button">
            <rect class="app-cursor-move"
                  v-bind:width="width"
                  v-bind:height="height"
                  v-bind:fill="fill"
                  v-bind:rx="rx"
                  v-bind:ry="ry"
                  v-bind:stroke="stroke"
                  v-on:mousedown.left.stop="onMouseDownLeft"
            >
            </rect>
            <!--<g class="app-cursor-pointer"-->
               <!--v-bind:transform="addButtonTransform">-->
                <!--<image xlink:href="image/icon/btn_add.png"-->
                       <!--width="16"-->
                       <!--height="16"-->
                       <!--v-on:click.left="onMouseDownAddItem"-->
                <!--&gt;</image>-->
            <!--</g>-->
            <g v-bind:transform="textTransform">
                <text font-size="14" y="0.8em" xml:space="preserve" fill="#000" font-family="맑은고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">
                    <tspan class="" dy="0em" x="0">Type: {{item.type}}</tspan>
                    <tspan class="" dy="1em" x="0">Name: {{item.name}}</tspan>
                    <tspan class="" dy="1em" x="0">Id: {{item.id}}</tspan>
                </text>
            </g>
        </g>
    </script>

    <!-- app-control-arrow-template -->
    <script type="text/x-template" id="app-control-arrow-template">
        <g class="app-control-arrow-template"></g>
    </script>

    <!-- app-control-arrow--normal-template -->
    <script type="text/x-template" id="app-control-arrow-normal-template">
        <g class="app-control-arrow-normal-template"></g>
    </script>

    <!-- app-control-event-auto-refresh-template -->
    <script type="text/x-template" id="app-control-event-auto-refresh-template">
        <g class="app-auto-refresh"></g>
    </script>

    <!-- app-contexts-template -->
    <script type="text/x-template" id="app-contexts-template">
        <div v-if="isContextObject"
             class="app-contexts"
             v-bind:style="styleObject"
        >
            <app-context-template
                    v-for="(context, index) in contexts"
                    :key="index"
                    :context="context"
                    :index="index"
                ></app-context-template>
        </div>
    </script>

    <!-- app-contexts-template -->
    <script type="text/x-template" id="app-context-template">
        <div class="app-context"
             v-on:click.left="onClickLeft">
            <div class="app-context-icon" v-bind:class="classObjectIcon"></div>
            <div class="app-context-text">{{context.name}}</div>
        </div>
    </script>

    <!-- app-template -->
    <script type="text/x-template" id="app-template">
        <div class="app-template"></div>
    </script>

    <!--<script type="text/x-template" id="app-template">-->
    <!--    <div class=""></div>-->
    <!--</script>-->
</head>
<body>
    <div id="app" class="viewer-app" style="width: 100%; height: 600px;">

        <app-header-template id="app-header" :groups="groups"></app-header-template>
        <app-body-template id="app-body" :data-object="dataObject"></app-body-template>

        <!--<div id="app-body1" class="app-body">-->
            <!--<div id="app-left" class="app-left">-->
                <!--<div id="app-left-menu" class="app-menu app-left-menu">-->
                    <!--<div id="app-left-menu-group" class="app-left-menu-group">-->
                        <!--<div id="app-left-menu-item1" class="app-left-menu-item app-left-menu-icon" title="Expand All">[+]</div>-->
                        <!--<div id="app-left-menu-item2" class="app-left-menu-item app-left-menu-icon" title="Collapse All">[-]</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="app-left-search" class="app-search app-left-search">-->
                    <!--<div class="app-search-box">-->
                        <!--<input type="search" class="app-search-text" placeholder="Search TextBox">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="app-left-tree" class="app-tree app-left-tree">-->
                    <!--<div class="app-tree-root">-->
                        <!--<div class="app-tree-node">-->
                            <!--<div class="app-tree-header">-->
                                <!--<div class="app-tree-icon app-icon-plus"></div>-->
                                <!--<div class="app-tree-icon app-icon-folder-open"></div>-->
                                <!--<div class="app-tree-title">i-CANVAS</div>-->
                            <!--</div>-->
                            <!--<div class="app-tree-contents">-->
                                <!--<div class="app-tree-content">-->
                                    <!--<div class="app-tree-content-icon app-icon-event"></div>-->
                                    <!--<div class="app-tree-content-text">AutoRefresh</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content">-->
                                    <!--<div class="app-tree-content-icon app-icon-event"></div>-->
                                    <!--<div class="app-tree-content-text">doRefresh</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content">-->
                                    <!--<div class="app-tree-content-icon app-icon-event"></div>-->
                                    <!--<div class="app-tree-content-text">doExport</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnActiveSheetChange</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnDataBindEnd</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnExecuteStart</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnLoadComplete</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnRefreshComplete</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="app-tree-content">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-icon app-icon-event"></div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="app-tree-content-text">OnServiceCallBack</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="app-tree-node">-->
                            <!--<div class="app-tree-header">-->
                                <!--<div class="app-tree-icon app-icon-minus"></div>-->
                                <!--<div class="app-tree-icon app-icon-folder-close"></div>-->
                                <!--<div class="app-tree-title">Form1</div>-->
                            <!--</div>-->
                            <!--<div class="app-tree-contents">-->
                                <!--<div class="app-tree-content" title="Browser">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-browser"></div>-->
                                    <!--<div class="app-tree-content-text">Browser</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Button">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-button"></div>-->
                                    <!--<div class="app-tree-content-text">Button</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Chart">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-chart"></div>-->
                                    <!--<div class="app-tree-content-text">Chart</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="CheckBox">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-checkbox"></div>-->
                                    <!--<div class="app-tree-content-text">CheckBox</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="ComboBox">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-combobox"></div>-->
                                    <!--<div class="app-tree-content-text">ComboBox</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Custom">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-custom"></div>-->
                                    <!--<div class="app-tree-content-text">Custom</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="DatePicker">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-datepicker"></div>-->
                                    <!--<div class="app-tree-content-text">DatePicker</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="GrouBox">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-groupbox"></div>-->
                                    <!--<div class="app-tree-content-text">GrouBox</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Image">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-image"></div>-->
                                    <!--<div class="app-tree-content-text">Image</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="InputBox">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-inputbox"></div>-->
                                    <!--<div class="app-tree-content-text">InputBox</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="ListGrid">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-listgrid"></div>-->
                                    <!--<div class="app-tree-content-text">ListGrid</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="MultiCombo">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-multicombo"></div>-->
                                    <!--<div class="app-tree-content-text">MultiCombo</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="PickList">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-picklist"></div>-->
                                    <!--<div class="app-tree-content-text">PickList</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="PieChart">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-piechart"></div>-->
                                    <!--<div class="app-tree-content-text">PieChart</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="PivotGrid">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-pivotgrid"></div>-->
                                    <!--<div class="app-tree-content-text">PivotGrid</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="PolarChart">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-polarchart"></div>-->
                                    <!--<div class="app-tree-content-text">PolarChart</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Polygon">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-polygon"></div>-->
                                    <!--<div class="app-tree-content-text">Polygon</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="RadioButton">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-radiobutton"></div>-->
                                    <!--<div class="app-tree-content-text">RadioButton</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="ScatterChart">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-scatterchart"></div>-->
                                    <!--<div class="app-tree-content-text">ScatterChart</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="TableLayout">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-tablelayout"></div>-->
                                    <!--<div class="app-tree-content-text">TableLayout</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="TextBox">-->
                                    <!--<div class="app-tree-content-icon app-icon-control-textbox"></div>-->
                                    <!--<div class="app-tree-content-text">TextBox</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="app-tree-node">-->
                            <!--<div class="app-tree-header">-->
                                <!--<div class="app-tree-icon app-icon-plus"></div>-->
                                <!--<div class="app-tree-icon app-icon-folder-open"></div>-->
                                <!--<div class="app-tree-title">Actions</div>-->
                            <!--</div>-->
                            <!--<div class="app-tree-contents">-->
                                <!--<div class="app-tree-content" title="Refresh">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">Refresh</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="SetProperties">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">SetProperties</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="ClearData">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">ClearData</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Export">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">Export</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="CreateRow">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">CreateRow</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="DeleteRow">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">DeleteRow</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="Update">-->
                                    <!--<div class="app-tree-content-icon app-icon-actions-refresh"></div>-->
                                    <!--<div class="app-tree-content-text">Update</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="app-tree-node">-->
                            <!--<div class="app-tree-header">-->
                                <!--<div class="app-tree-icon app-icon-minus"></div>-->
                                <!--<div class="app-tree-icon app-icon-folder-open"></div>-->
                                <!--<div class="app-tree-title">Condition</div>-->
                            <!--</div>-->
                            <!--<div class="app-tree-contents">-->
                                <!--<div class="app-tree-content" title="If">-->
                                    <!--<div class="app-tree-content-icon app-icon-condition-if"></div>-->
                                    <!--<div class="app-tree-content-text">If</div>-->
                                <!--</div>-->
                                <!--<div class="app-tree-content" title="For">-->
                                    <!--<div class="app-tree-content-icon app-icon-condition-for"></div>-->
                                    <!--<div class="app-tree-content-text">For</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="app-tree-node">-->
                            <!--<div class="app-tree-header">-->
                                <!--<div class="app-tree-icon app-icon-minus"></div>-->
                                <!--<div class="app-tree-icon app-icon-folder-open"></div>-->
                                <!--<div class="app-tree-title">Diagram</div>-->
                            <!--</div>-->
                            <!--<div class="app-tree-contents">-->
                                <!--<div class="app-tree-content">-->
                                    <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%">-->
                                        <!--<g class="app-store">-->
                                            <!--<g class="app-store-item">-->
                                                <!--<g class="translate" transform="translate(10, 10)">-->
                                                    <!--<g class="rotatable">-->
                                                        <!--<g class="scalable" transform="scale(0.6, 0.6)">-->
                                                            <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="3" stroke-dasharray="0"></rect>-->
                                                            <!--<g transform="translate(5, 5)">-->
                                                                <!--<text font-size="14" y="0.8em" xml:space="preserve" fill="#f6f6f6" font-family="맑은 고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">-->
                                                <!--<tspan class="" dy="0em" x="0">1-A</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">123456789</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">ABCDEF</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">GHIJKLMNOP</tspan>-->
                                            <!--</text>-->
                                                            <!--</g>-->
                                                        <!--</g>-->
                                                    <!--</g>-->
                                                <!--</g>-->
                                            <!--</g>-->
                                            <!--<g class="app-store-item">-->
                                                <!--<g class="translate" transform="translate(80, 10)">-->
                                                    <!--<g class="rotatable">-->
                                                        <!--<g class="scalable" transform="scale(0.6, 0.6)">-->
                                                            <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="2" stroke-dasharray="10 5"></rect>-->
                                                        <!--</g>-->
                                                    <!--</g>-->
                                                <!--</g>-->
                                            <!--</g>-->
                                            <!--<g class="app-store-item">-->
                                                <!--<g class="translate" transform="translate(10, 80)">-->
                                                    <!--<g class="rotatable">-->
                                                        <!--<g class="scalable" transform="scale(0.6, 0.6)">-->
                                                            <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="10" stroke-dasharray="10 5"></rect>-->
                                                        <!--</g>-->
                                                    <!--</g>-->
                                                <!--</g>-->
                                            <!--</g>-->

                                            <!--<g class="app-store-item">-->
                                                <!--<g class="translate" transform="translate(80, 80)">-->
                                                    <!--<g class="rotatable">-->
                                                        <!--<g class="scalable" transform="scale(0.6, 0.6)">-->
                                                            <!--<polygon points="50,0 100,50, 50,100 0,50" fill="rgb(220, 215, 215)"></polygon>-->
                                                        <!--</g>-->
                                                    <!--</g>-->
                                                <!--</g>-->
                                            <!--</g>-->
                                        <!--</g>-->
                                    <!--</svg>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->




                <!--</div>-->
            <!--</div>-->
            <!--<div id="app-center" class="app-center">-->
                <!--<div id="app-paper" class="app-paper">-->
                    <!--<div id="app-paper-grid" class="app-paper-grid"></div>-->
                <!--</div>-->
                <!--<div id="app-svg2" class="app-svg">-->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%">-->
                        <!--<g style="">-->
                            <!--<g class="translate" transform="translate(20, 20)">-->
                                <!--<g class="rotatable">-->
                                    <!--<g class="scalable">-->
                                        <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="3" stroke-dasharray="0"></rect>-->
                                        <!--<g transform="translate(5, 5)">-->
                                            <!--<text font-size="14" y="0.8em" xml:space="preserve" fill="#f6f6f6" font-family="맑은고딕, 돋움, Arial, sans-serif" cursor="text" style="user-select: none;">-->
                                                <!--<tspan class="" dy="0em" x="0">1-A</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">123456789</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">ABCDEF</tspan>-->
                                                <!--<tspan class="" dy="1em" x="0">GHIJKLMNOP</tspan>-->
                                            <!--</text>-->
                                        <!--</g>-->

                                    <!--</g>-->
                                <!--</g>-->
                            <!--</g>-->
                            <!--<g class="translate" transform="translate(150, 20)">-->
                                <!--<g class="rotatable">-->
                                    <!--<g class="scalable">-->
                                        <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="2" stroke-dasharray="10 5"></rect>-->
                                    <!--</g>-->
                                <!--</g>-->
                            <!--</g>-->
                            <!--<g class="translate" transform="translate(270, 20)">-->
                                <!--<g class="rotatable">-->
                                    <!--<g class="scalable">-->
                                        <!--<rect width="100" height="100" fill="rgb(220, 215, 215)" rx="2" ry="2" stroke="rgb(60, 66, 96)" stroke-width="10" stroke-dasharray="10 5"></rect>-->
                                    <!--</g>-->
                                <!--</g>-->
                            <!--</g>-->

                            <!--<g class="translate" transform="translate(20, 150)">-->
                                <!--<g class="rotatable">-->
                                    <!--<g class="scalable">-->
                                        <!--<polygon points="50,0 100,50, 50,100 0,50" fill="rgb(220, 215, 215)"></polygon>-->
                                    <!--</g>-->
                                <!--</g>-->
                            <!--</g>-->

                            <!--<g class="translate" transform="translate(170, 150)">-->
                                <!--<g class="rotatable">-->
                                    <!--<g class="scalable">-->
                                        <!--<path d="M40,20  A30,30 0 0,0 70,70" style="stroke: #cccc00; stroke-width:2; fill:none;"/>-->
                                        <!--<path d="M40,20  A30,30 0 1,0 70,70" style="stroke: #ff0000; stroke-width:2; fill:none;"/>-->
                                        <!--<path d="M40,20  A30,30 0 1,1 70,70" style="stroke: #00ff00; stroke-width:2; fill:none;"/>-->
                                        <!--<path d="M40,20  A30,30 0 0,1 70,70" style="stroke: #0000ff; stroke-width:2; fill:none;"/>-->
                                    <!--</g>-->
                                <!--</g>-->
                            <!--</g>-->

                            <!--<g class="translate" transform="translate(270, 150)">-->
                                <!--<path d="M100,10 L150,10 L150,60 L200,60"-->
                                      <!--style="stroke: #6666ff; stroke-width: 1px; fill: none;-->
                                       <!--marker-start: url(#markerCircle);-->
                                       <!--marker-mid: url(#markerSquare);-->
                                       <!--marker-end: url(#markerArrow);-->
                                     <!--"/>-->
                            <!--</g>-->

                            <!--<g class="translate" transform="translate(270, 220)">-->
                                <!--<path d="M100,10 L150,10"-->
                                      <!--style="stroke: #6666ff; stroke-width: 1px; fill: none;-->
                                       <!--marker-start: url(#markerCircle);-->
                                       <!--marker-mid: url(#markerSquare);-->
                                       <!--marker-end: url(#markerArrow);-->
                                     <!--"/>-->
                            <!--</g>-->
                            <!--<g class="translate" transform="translate(270, 290)">-->
                                <!--<path d="M100,10 L150,10 L170,10"-->
                                      <!--style="stroke: #6666ff; stroke-width: 1px; fill: none;-->
                                       <!--marker-start: url(#markerCircle);-->
                                       <!--marker-mid: url(#markerSquare);-->
                                       <!--marker-end: url(#markerArrow);-->
                                     <!--"/>-->
                            <!--</g>-->
                            <!--&lt;!&ndash;<g class="translate" transform="translate(270, 150)">&ndash;&gt;-->
                            <!--&lt;!&ndash;</g>&ndash;&gt;-->

                            <!--<g>-->
                                <!--<defs>-->
                                    <!--<marker id="markerCircle" markerWidth="8" markerHeight="8" refX="5" refY="5">-->
                                        <!--<circle cx="5" cy="5" r="3" style="stroke: none; fill:#000000;"/>-->
                                    <!--</marker>-->

                                    <!--<marker id="markerSquare" markerWidth="7" markerHeight="7" refX="4" refY="4" orient="auto">-->
                                        <!--<rect x="1" y="1" width="5" height="5" style="stroke: none; fill:#000000;"/>-->
                                    <!--</marker>-->

                                    <!--<marker id="markerArrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto">-->
                                        <!--<path d="M2,2 L2,11 L10,6 L2,2" style="fill: #000000;" />-->
                                    <!--</marker>-->
                                <!--</defs>-->
                            <!--</g>-->
                        <!--</g>-->
                    <!--</svg>-->
                <!--</div>-->
                <!--<div id="app-panel" class="app-panel">-->
                    <!--<div class="app-selection" style="left:18px; top:18px; width: 104px; height:104px;">-->
                        <!--<div class="resize nw"></div>-->
                        <!--<div class="resize n"></div>-->
                        <!--<div class="resize ne"></div>-->
                        <!--<div class="resize e"></div>-->
                        <!--<div class="resize se"></div>-->
                        <!--<div class="resize s"></div>-->
                        <!--<div class="resize sw"></div>-->
                        <!--<div class="resize w"></div>-->
                    <!--</div>-->

                    <!--<div class="app-selection" style="left:149px; top:19px; width: 102px; height:102px;">-->
                        <!--<div class="resize nw"></div>-->
                        <!--<div class="resize n"></div>-->
                        <!--<div class="resize ne"></div>-->
                        <!--<div class="resize e"></div>-->
                        <!--<div class="resize se"></div>-->
                        <!--<div class="resize s"></div>-->
                        <!--<div class="resize sw"></div>-->
                        <!--<div class="resize w"></div>-->
                    <!--</div>-->

                    <!--<div class="app-selection" style="left:265px; top:15px; width: 110px; height:110px;">-->
                        <!--<div class="resize nw"></div>-->
                        <!--<div class="resize n"></div>-->
                        <!--<div class="resize ne"></div>-->
                        <!--<div class="resize e"></div>-->
                        <!--<div class="resize se"></div>-->
                        <!--<div class="resize s"></div>-->
                        <!--<div class="resize sw"></div>-->
                        <!--<div class="resize w"></div>-->
                    <!--</div>-->

                    <!--<div class="app-selection" style="left:19px; top:149px; width: 102px; height:102px;">-->
                        <!--<div class="resize nw"></div>-->
                        <!--<div class="resize n"></div>-->
                        <!--<div class="resize ne"></div>-->
                        <!--<div class="resize e"></div>-->
                        <!--<div class="resize se"></div>-->
                        <!--<div class="resize s"></div>-->
                        <!--<div class="resize sw"></div>-->
                        <!--<div class="resize w"></div>-->
                    <!--</div>-->

                    <!--<div class="app-arrow-selection" style="left:270px; top:150px;">-->
                        <!--&lt;!&ndash;<rect x="96" y="6" width="8" height="8" class="marker-point-start"></rect>&ndash;&gt;-->
                        <!--&lt;!&ndash;<rect x="146" y="6" width="8" height="8" class="marker-point-mid"></rect>&ndash;&gt;-->
                        <!--&lt;!&ndash;<rect x="146" y="56" width="8" height="8" class="marker-point-mid"></rect>&ndash;&gt;-->
                        <!--&lt;!&ndash;<rect x="198" y="54" width="12" height="12" class="marker-point-end"></rect>&ndash;&gt;-->

                        <!--<div class="marker-point marker-point-start" style="left:96px; top:6px"></div>-->
                        <!--<div class="marker-point marker-point-mid" style="left:146px; top:6px"></div>-->
                        <!--<div class="marker-point marker-point-mid" style="left:146px; top:56px"></div>-->
                        <!--<div class="marker-point marker-point-end" style="left:198px; top:54px"></div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div id="app-popup" class="app-popup" style="display: none;"></div>-->
                <!--<div id="app-mini-map" class="app-mini-map">-->
                    <!--<div id="app-mini-map-background" class="app-mini-map-background"></div>-->
                    <!--<div id="app-mini-map-svg" class="app-mini-map-svg">-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="app-right" class="app-right">-->
                <!--<div id="app-right-menu" class="app-menu app-left-menu"></div>-->
                <!--<div id="app-right-search" class="app-search app-left-search"></div>-->
                <!--<div id="app-right-tree" class="app-tree app-left-tree"></div>-->
            <!--</div>-->
        <!--</div>-->

        <app-footer-template id="app-footer"></app-footer-template>
        <!--<div id="app-footer" class="app-footer"></div>-->
    </div>
    <script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
    <script src="js/lib/require/require.js" data-main="js/app.js"></script>
    <!--<script src="js/app.js"></script>-->
</body>
</html>